extends ../shared/template

block content
  h1= title
  input#user(type='text')
  button#join join gameses
  
  table#users
    thead
      tr
        th User
        th Letters
        th Nickname
    tbody